body {
  background-color: #120f29;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
  width: 50px;
}

.best-result {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.best-result span {
  color: #fff469;
  font-size: 20px;
  font-weight: 700;
}
